@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Integration of the Mionix Naos QG mouse with iMotions. This program looks to create a set of data based on available metrics from the Mionix beta API. This data can then be viewed in real-time as well as being available for PPG + GSR analysis in iMotions. Using a mouse with embedded sensors allows labs utilizing iMotions to collect unobtrusive metrics from participants during in-lab studies.</p>