@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Seattle, WA 98034<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">dave@dcmcdowell.com</a><br />
</address>
