@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<canvas id="myChart" width="400" height="250"></canvas>

<div class="container">
    <h2>Heart Rate</h2>
    <hr />

    <div class="data-row">
        <div class="data-column">
            <div class="data-card">
                <p><i class="fa fa-user"></i></p>
                <h3 id="signalQuality">-</h3><br />
                <p>Signal Quality</p>
            </div>
        </div>

        <div class="data-column">
            <div class="data-card">
                <p><i class="fa fa-check"></i></p>
                <h3 id="hRate">0</h3><br />
                <p>Heart Rate</p>
            </div>
        </div>

        <div class="data-column">
            <div class="data-card">
                <p><i class="fa fa-check"></i></p>
                <h3 id="avgHRate">-</h3><br />
                <p>Average Heart Rate</p>
            </div>
        </div>

        <div class="data-column">
            <div class="data-card">
                <p><i class="fa fa-check"></i></p>
                <h3 id="maxHRate">-</h3><br />
                <p>Max Heart Rate</p>
            </div>
        </div>
    </div>

    <h2>Raw Data</h2>
    <hr />

    <div class="data-row">
        <div class="data-column raw">
            <div class="data-card">
                <p><i class="fa fa-user"></i></p>
                <h3 id="hRateRaw">-</h3><br />
                <p>Raw Heart Rate</p>
            </div>
        </div>

        <div class="data-column raw">
            <div class="data-card">
                <p><i class="fa fa-check"></i></p>
                <h3><span id="gsrRaw"></span> / <span id="gsrRawMax"></span></h3>
                <p>Galvanic Skin Response</p>
            </div>
        </div>
    </div>

    <h2>Mionix Outputs</h2>
    <hr />

    <div class="panel panel-success">
        <div class="panel-heading"><span class="badge">Live</span> Mouse Metrics Demo </div>
        <div class="panel-body">
            <pre id="bioMetrics"></pre>
            <pre id="bioRaw"></pre>
            <pre id="mouseMetrics"></pre>
        </div>
    </div>

</div>